

body
{

	font-family: 'Poppins', sans-serif;
}


.main .carousel-inner img
{
	max-height: 90vh;
	object-fit: cover;
	
}

.main .carousel-indicators li

{
	background-color: #008239;
	width: 13px;
	height: 13px;
	border: solid 1px white;
	border-radius: 10px;
	
	
}

.main .carousel-caption
{
	bottom: 33%;
}

.clients
{
	background: #004292;
}

.marcoFoto {
    overflow: hidden; /*esta propiedad evita que la imagen ocupe mas espacio que su contenedor*/
   
    border: 5px solid #FFF;
    box-sizing:border-box;
    float:left;
}
 
.marcoFoto img {
    transition: all .8s ease;
    width:100%;
}
 
.marcoFoto img:hover {
    transform:scale(1.5) rotate(3deg); /*cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos*/
    opacity:0.6;
}


.news
{
	background: url(../images/news/letter.png);
}



.payment
{
	background: #00833a;
}



.reserved
{
	background: black;
}




 .textsli1
{

	
	padding-bottom: 30%;

}

.textsli1 .title-sup

{

	font-size: 52px; 
	color: green; 
	text-shadow: .5px .5px .5px #000;


}

.textsli1 .title-inf

{

font-size: 35px; 
color: black;

}

.page-section {
 
}
.move{
  background-color:#000
}
.page-section.bg-dark * {
  color: #fff;
}
.transparent{
  background-color:green;
}
.nav_transparent{background-color:#ffffffc2;}
.nav_white{background-color:grey;}
.nav_blue{background-color:black;}




/***************Aplicación de Media querys****************/

@media screen and (max-width: 2560px)
{

.textsli1

 {
	 text-align: left;
	 padding-bottom: 15%;
	 	
}

	
}

@media screen and (max-width: 1920px)
{


	.carousel-indicators li
	{
		
		margin-top: -80px;
		
	}


		
	 .textsli1
	{

		
		padding-bottom: 18%;
		text-align: left;

	}
		

}


@media screen and (max-width: 1600px)
{

	.carousel-indicators li
	{
		
		margin-top: -80px;
		
	}
	

	

	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 5%;
	 	
	 }
			

}

@media screen and (max-width: 1440px)
{

	.carousel-indicators li
	{
			
		margin-top: -80px;
		
	}
	
	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 5%;
	 	
	 }			

}

@media screen and (max-width: 1280px)
{

	

	.carousel-indicators li
	{
			
		margin-top: -80px;
		
	}
	

	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 10%;
	 }			

}

@media screen and (max-width: 1024px)
{

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: -80px;
		
	}	

	 .textsli1
	 {
	 	padding-bottom: 0;
	 }

}


@media screen and (max-width: 768px) 
{

	

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: -80px;
		
	}



	.textsli1 .flayer1
	{
		font-size: 1rem;
	}

	.textsli1 h4, h5
	{
		font-size: .8rem;
	}	

}


@media screen and (max-width: 480px)
{

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: initial;
		
	}

		

	

	.slide
	{
		margin-top: 4.7rem;

	}

	 .textsli1
	 {
	 	padding-bottom: 5%;
	 }



	.textsli1 .flayer1
	{
		font-size: .8rem;
	}

	 .textsli1 .btn-select
	 {
	 	font-size: .7rem;
	 }

	.textsli1 h4, h5
	{
		display: none;
	}


}	


@media screen and (max-width: 360px)
{

	

	.carousel-indicators li
	{

		background-color: #ffc107;		
		margin-top: initial;
		
	}

		

	.slide
	{
		margin-top: 4.7rem;

	}


	 .textsli1
	 {
	 	padding-bottom: 1%;
	 }



	.textsli1 .flayer1
	{
		font-size: .6rem;
	}	 
	

}

/***************Aplicación de Media querys end****************/

